body {
  font-size: 20px;
  height: 100vh;
}

.errorMessage {
  color: #990000;
  margin-bottom: 20px;
}

.navbar {
  background-color: #28242c;
  border-radius: 0;
  padding: 1.2rem;
  min-height: none !important;
}

.logo {
  color: azure !important;
  text-decoration: none !important;
}

.flex {
  display: flex;
}

.headerAuth {
  margin-left: auto;
  gap: 18px;
}

.text-center {
  text-align: center;
}

.button-row {
  padding-left: 1.5rem;
}

.plusie {
  margin-left: -1.7rem;
}

button {
  font-size: 18px !important;
}

h4 {
  font-size: 21px;
}

h3 {
  font-size: 23px;
}

h2 {
  font-size: 26px;
}

h1 {
  font-size: 29px;
}

.cv_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBlock {
  margin-top: 35px;
}

.resumeBlock {
  margin:20px 0;
}